
@{
    ViewBag.Title = "_NavBarSide";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


<nav>
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </li>
                <li>
                    <a href="/"><i class="fas fa-tachometer-alt">&nbsp;</i>Dashboard</a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li>
                        <a href="@Url.Action("Index", "ManageUser")"><i class="fa fa-table fa-fw"></i> Manage Users</a>
                    </li>
                }

                @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                {
                    <li>
                        <a href="@Url.Action("Index", "Project")"><i class="fas fa-tasks"></i> All Projects</a>
                    </li>
                }

                <li>
                    <a href="@Url.Action("MyProjects", "Project")"><i class="fa fa-table fa-fw"></i> My Projects</a>
                </li>
                <li id="active-dropdown">
                    <a href="#"><i id ="drop-icon"class="fas fa-chevron-down"></i>Tickets</a>
                    <ul id="dropdown-menu" class="nav nav-second-level">
                        @if (User.IsInRole("Submitter"))
                        {
                            <li>
                                <a href=@Url.Action("Create", "Ticket") title="Create a New Ticket">
                                    <i class="fas fa-plus fa-fw"></i> New
                                </a>
                            </li>
                        }
                        <li>
                            @Html.ActionLink("All Tickets", "Index", "Ticket")
                        </li>
                        @if (User.IsInRole("Project Manager") || User.IsInRole("Developer"))
                        {
                            <li>
                                @Html.ActionLink("From My Projects", "FromMyProjects", "Ticket")
                            </li>
                        }
                        @if (User.IsInRole("Developer"))
                        {
                            <li>
                                @Html.ActionLink("Assigned to Me", "AssignedToMe", "Ticket")
                            </li>
                        }
                        @if (User.IsInRole("Submitter"))
                        {
                            <li>
                                @Html.ActionLink("Posted by Me", "PostedByMe", "Ticket")
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
