@model CreateTicketsViewModel
@{
    ViewBag.Title = "Create Tickets";
}

@Html.Partial("_NavBarTop")
@Html.Partial("_NavBarSide")

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Project Creator</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-10 col-md-6">

                <div class="panel panel-green">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Create", "Ticket", FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(m => m.Title, new { @class = "control-label col-md-2" })
                                @Html.TextBoxFor(m => m.Title, new { @class = "form-control text-box" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Description, new { @class = "control-label col-md-2" })
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control text-box", rows = 8 })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ProjectId, new { @class = "control-label col-md-2" })
                                @Html.DropDownListFor(m => m.ProjectId, Model.AssignedProject,"--Please Select--", new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.TicketTypeId, new { @class = "control-label col-md-2" })
                                @Html.DropDownListFor(m => m.TicketTypeId, Model.TicketTypes,"--Please Select--",new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.TicketPriorityId, new { @class = "control-label col-md-2" })
                                @Html.DropDownListFor(m => m.TicketPriorityId, Model.TicketPriorites,"--Please Select--",new { @class = "dropdown-item form-control" })
                            </div>
                            <hr />
                            <input type="submit" value="Create-Ticket" class="btn btn-default" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}